padding = 10px
.list
    border 2px solid yellow
    background-color #AB3490
    li
        border 1px solid red
        padding padding
        span
        a
            display block
    +below(760px)
        background-color green